########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

#  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

# btt_mini12864
[neopixel lcd]
#  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3
color_order: RGB

[display_template extruder_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.config.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp|float %}
    {ratio}, 0.0, {1-ratio}, 0.0

# use
# SET_LED_TEMPLATE led=lcd template=extruder_glow index=1
# SET_LED_TEMPLATE led=lcd template=extruder_glow index=2

[gcode_macro _knob_extruder_glow]
gcode:
    SET_LED_TEMPLATE led=lcd template=extruder_glow index=1
    SET_LED_TEMPLATE led=lcd template=extruder_glow index=2

[gcode_macro _knob_extruder_solid]
gcode:
    SET_LED_TEMPLATE led=lcd template= index=1
    SET_LED_TEMPLATE led=lcd template= index=2
    SET_LED led=lcd  RED=0.3 GREEN=0.3 BLUE=0.3 INDEX=1
    SET_LED led=lcd  RED=0.3 GREEN=0.3 BLUE=0.3 INDEX=2

# 
# #  Set RGB values on boot up for each Neopixel. 
# #  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=lcd RED=.3 GREEN=.3 BLUE=.3 INDEX=1 TRANSMIT=0
        SET_LED LED=lcd RED=.3 GREEN=.3 BLUE=.3 INDEX=2 TRANSMIT=0
        SET_LED LED=lcd RED=.8 GREEN=.8 BLUE=.3 INDEX=3 
 
